@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Kodchasan&family=Mandali&family=Roboto&display=swap');

body {
    font-family: "Koho", "Mandali";
    text-align: center;
    margin: auto;
    color: white;
    background-image: url(./bilder/background2.png);

}

#header-section {
    display: flex;
	justify-content: center;
    margin: auto;
    margin-bottom: 0;
    background-color: white;
    padding: 2em;
    border-radius: 13em;
    max-width: 800px;
}

#logo {
    max-width: 700px;
    margin: auto;
}

#content {
    margin: auto;
    max-width: 1080px;
}

h1 {
    background-color: rgb(253, 203, 145);
    margin: 0;
    padding: 1em;
    font-weight: bold;
    border-radius: 1.3em;
    margin-top: 1.3em;
    margin-left: 21px;
    margin-right: 21px;
}

#auswahlFenster{
    display: flex;
	justify-content: center;
    justify-content: space-evenly;
    background-color: wheat;
    border-radius: 5em;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 0em;
}

.burgerTeil {
    display: flex;
	flex-direction: column;
    padding: 2em;
    color: rgb(71, 211, 132);
    background-color: white;
    border-radius: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.burgerTeil button {
    margin-top: 2em;
    border-radius: 1em;
    padding-top: .55em;
    padding-bottom: .55em;
    align-self: center;
    background-color: rgb(71, 211, 132);
    color: rgb(245, 242, 238);
    font-weight: bold;
    text-align: center
}

.burgerTeil h3 {
    background-color: white;
    margin: 0;
}

#endBurgerBack{
    background-color: wheat;
    margin: auto;
    border-radius: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 34em;
}

#endBurgerBack2 {
    background-color: wheat;
    margin: auto;
    border-radius: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 34em;
}

.endBurger{
    display: flex;
    justify-content: center;

    position: relative;
    background-color: white;
    width: 500px;
    border-radius: 5em;
    margin: auto;
}

.endBurger #basis {
    position: absolute;
}

.endBurger .overlay {
    position: absolute;
}

#vorschau {
    background-color: wheat;
    color: chocolate;
    display: flex;
	justify-content: center;
    justify-content: space-evenly;
    background-color: wheat;
    border-radius: 5em;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 2em;
}

#customBurgerHead {
    margin: 0;
    margin-left: 7em;
    margin-right: 7em;
}

button:hover {
    background-color: chocolate;
}

#vorschau {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 55em;
    margin: auto;
    margin-top: 2em;
}

#möglichkeit {
    background-color: wheat;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5em;
    max-width: 13em;
    margin-right: auto;
    margin-left: auto;
    color: chocolate;
    font-size: 1.8em;
    font-weight: bold;
}

#möglichkeit2 {
    background-color: wheat;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5em;
    max-width: 13em;
    margin-right: auto;
    margin-left: auto;
    color: chocolate;
    font-size: 1.8em;
    font-weight: bold;
}

#newBurgerDIV {
    background-color: wheat;
    max-width: 210px;
    margin: auto;
    margin-top: 3em;
    padding: 1em;
    border-radius: 5em;
}

#neuerBurgerBTN {
        border-radius: 1em;
        padding-top: .55em;
        padding-bottom: .55em;
        align-self: center;
        background-color: chocolate;
        color: rgb(245, 242, 238);
        font-weight: bold;
        text-align: center
}

#neuerBurgerBTN:hover {
    background-color: rgb(71, 211, 132);
}