@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

/* Bodyyy*/
body {
    background-image: url("bg.png");
    background-color: #735856;
    margin: 0;
    color: #F2D888
}

.content {
    max-width: 800px;
    margin: auto;
    font-family: 'Mukta', 'Actor', 'sans-serif';
}

section {
    padding: 5em;
}

.bottom {
    text-align: center;
    background-color: indigo;
}

#jumpUpButton {
    color: #F2D888;
    background-color: #52495a;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 8em;
    border-radius: 1em;
}

#jumpUpButton a:hover {
    background-color: grey;
    color: antiquewhite;
}

/* Navigation */
.nav-right {
    /* float: right; */
    margin: auto;
    margin-top: auto;
    position: fixed;
    transform: translateX(100%);
    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    float: right;
}

li {
    float: left;
}

li a {
    color: #F2D888;
    background-color: #52495a;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1em;
}

li a:hover {
    background-color: grey;
    color: antiquewhite;
}

.current {
    background-color: #1F1726
}

.icon-bar {
    position: fixed;
    top: auto;
    right: auto;
    float: right;

}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.instagram {
    background: #bb9f00;
    color: white;
}

/* Hero */
.hero {
    text-align: center;
    background-color: indigo;
}

#page-heading {
    font-size: 5em;
}

#sub-head {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}



/* Portfolio */
.portfolio-section {
    background: #F2D888;
    text-align: center;
    color: #735856;
    font-weight: bold;
}

.portfolio-section h3 {
    margin-top: 3em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0em;
    width: 89%;
}

#jerryLink {
    margin-top: 5em;
    background-color: lavender;
}



/* Agent-Ranking */
#agent-ranking li {
    float: none;
}

.agent-ranking-section {
    background-color: khaki;
    color: indigo;
    text-align: center;
}


/* Myself */
.myself-section  {
    background: #F2D888;
    color: #735856;
}

table {
    width: 100%;
}

table, th, td {
   border: 1px solid #735856;
}



/* Contact */
.contact-section {
    background: #F2D888;
    text-align: center;
    color: #735856;
    font-weight: bold;
}

.the-end {
    background-color: chocolate;
    text-align: center;


}



  
  input[type=text], select, textarea {
    width: 50%;
    resize: vertical;
  }
  
  label {
    padding: 1em;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color:darkkhaki;
    color: white;
    padding: 2em 2em;
   
    border-radius: 1em;

  }
  
  input[type=submit]:hover {
    background-color:rgb(36, 34, 29);
  }

  form {
      text-align:left;
      border-right: 1em;
      display: inline-block;
  }

  



